.aboutcontainer {
    width:100%;
    height:inherit;
    background: rgb(193,196,228);
    background: radial-gradient(circle, rgba(193,196,228,1) 18%, rgba(128,198,235,1) 100%);
    display:flex;
    overflow:hidden;
    padding-top: 80px;
}
.aboutcontent {
    position: relative;
    width:85%;
    margin-top:2.5rem;
    margin-bottom:2.5rem;
    margin-left:10%;
    margin-right:5%;
}
.aboutcontent h1 {
    font-size:5rem;
    color:#2a2d34;
}
.aboutcontent .text {
    font-size: 2rem;
    font-weight:400;
    position: relative;
    line-height: 2.4rem;
    width:60%;
    color:#2a2d34;
}

.aboutcontainer img {
    position: relative;
    transform: scale(1.1);
    right:15%;
    top:-10%;
    opacity: 0.75;
    transform: rotate(45deg);
    animation: arrowmove 2s infinite;
    z-index: 1;
}
@keyframes arrowmove {
    0% {
        transform: rotate(40deg) scale(1);
    }
    50% {
        transform: rotate(45deg) scale(1.1);
    }
    100% {
        transform: rotate(40deg) scale(1);
    }
}

@media (max-width:1500px) {
    .aboutcontent .text {
        font-size:1.5rem;
        line-height: 1.8rem;
        width:70%;
    }
    .aboutcontainer img {
        transform: scale(1);
        right:5%;
    }
}
@media (max-width:1280px) {
    .aboutcontent .text {
        font-size:1.3rem;
        line-height: 1.5rem;
        width:100%;
    }
    .aboutcontainer img {
        transform: scale(0.5);
        right:3%;
    }
}
@media (max-width:1120px) {
    .aboutcontainer img {
        width:700px;
        height:700px;
        right:3%;
    }
}
@media (max-width:950px) {
    .aboutcontainer img {
        width:600px;
        height:600px;
        right:3%;
        top:0%;
    }
}
@media (max-width:850px) {
    .aboutcontainer img {
        width:500px;
        height:500px;
        right:3%;
        top:2%
    }
}
@media (max-width:750px) {
    .aboutcontainer img {
        width:390px;
        height:390px;
        right:320px;
        top:50%
    }
}