.aboutcontainer {
    width:100%;
    height:inherit;
    background: rgb(193,200,228);
    background: radial-gradient(circle, rgba(193,200,228,1) 0%, rgba(145,199,200,1) 100%);
    display:flex;
    overflow:hidden;
}
.aboutcontent {
    position: relative;
    width:85%;
    margin-top:2.5rem;
    margin-bottom:2.5rem;
    margin-left:10%;
    margin-right:5%;
}
.aboutcontent h1 {
    font-size:5rem;
    color:#2a2d34;
}
.aboutcontent .text {
    font-size: 2rem;
    font-weight:400;
    position: relative;
    line-height: 2.4rem;
    width:60%;
    color:#2a2d34;
}

.aboutcontainer img {
    position: relative;
    transform: scale(1.1);
    right:15%;
    top:-5%;
    opacity: 0.75;
    transform: rotate(45deg);
    animation: arrowmove 2s infinite;
}
@keyframes arrowmove {
    0% {
        transform: rotate(40deg) scale(1);
    }
    50% {
        transform: rotate(45deg) scale(1.1);
    }
    100% {
        transform: rotate(40deg) scale(1);
    }
}