.resourcecontainer {
    width:50%;
    height:900px;
    display:flex;
    flex-direction: row;
}
.resourcecontent {
    width:90%;
    margin:2.5rem auto;
    height:90%;
    background: rgb(119,181,190);
    background: radial-gradient(circle, rgba(119,181,190,1) 0%, rgba(86,128,233,1) 100%);
    border-radius: 50px;
    display:flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}
.resourcecontent h1 {
    font-size:4rem;
    color:WHITE;
}
.carousel {
    width:100%;
    height:100%;
    position:relative;
}
.slide {
    position:absolute;
    inset: 0;
    opacity: 0.7;
    width:400px;
    height:400px;
    border: 0.5px solid #2a2d34;
    top:50%;
    left:10%;
    z-index: 1;
    transform: translateY(-50%);
    transition: 0.5s all ease;
    background: rgb(119,181,190);
    background: radial-gradient(circle, rgba(119,181,190,1) 0%, rgba(63,68,169,1) 100%, rgba(86,128,233,1) 100%);
    border-radius:25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.slidecontent {
    height:inherit;
    width:inherit;
    
}
.slidecontent h1{
    font-size:2.5rem;
    text-align: center;
}
.slidecontent p {
    font-size:1.5rem;
    color: #C1C8E4;
}
.slidecontent img {
    width:250px;
    height:200px;
    position: relative;
    left:50%;
    margin-top:10px;
    transform: translateX(-50%);
} .slidecontent p {
    text-align: center;

}
.slide.left {
    position:absolute;
    inset: 0;
    opacity: 0.7;
    width:400px;
    height:400px;
    border: 1px solid #2a2d34;
    top:50%;
    left:10%;
    z-index: 1;
    transform: translateY(-50%);
    filter:blur(2px);
    transition: 0.5s all ease;
}
.slide.right {
    position:absolute;
    inset: 0;
    opacity: 0.7;
    width:400px;
    height:400px;
    border: 1px solid #2a2d34;
    top:50%;
    left:43%;
    z-index: 1;
    transform: translateY(-50%);
    filter:blur(2px);
    transition: 0.5s all ease;
}
.slide.hidden{
    opacity:0;
}
.carousel ul {
    padding:0;
    margin:0;
    list-style: none;
}
.slide.active {
    opacity: 1;
    left:25%;
    z-index: 3;
    width:400px;
    height:450px;
    filter:blur(0);
}
.carousel-button {
    position: absolute;
    background:none;
    border:none;
    font-size:2.5rem;
    top:0%;
    transform: translateY(-50%);
    color:rgba(0,0,0,0.5);
    cursor: pointer;
    border-radius: .25rem;
    padding:0.5rem;
    z-index: 2;
    background-color: rgba(0,0,0,0.1);
}
.carousel-button:hover,
.carousel-button:focus {
    color:white;
    background-color: rgba(0,0,0,0.2);
}
.carousel-button:focus {
    outline: 1px solid black;
}
.carousel-button.prev {
    left:40%;
}
.carousel-button.next {
    right:40%;
}

@media (max-width:1400px) {
}