.songpickercontainer {
    width:85%;
    height:inherit;
    margin:0 auto;
    display:flex;
}
.songpickertextcontainer {
    width:25%;
    height:650px;
    display:flex;
    flex-direction: column;
    padding:1rem 2.5rem;
    color:#2a2d34;
    margin-left:100px;
}
.songpickertextcontainer h1 {
    font-size:4rem;
    margin-bottom:0;
}
.songpickertextcontainer p {
    font-size:1.4rem;
    line-height:1.7rem;
}
.randomcards {
    width:55%;
    height:500px;
    padding:1rem 2rem;
    margin-left:0px;
    display:flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    filter:blur(5px);
    transform: translateX(100%);
    transition:all 1s;
}
.randomcards.show {
    opacity: 1;
    filter:blur(0px);
    transform: translateX(0%);
}
.randomcards h1 {
    color:#2a2d34;
    font-size:4rem;
}
.randomcards .randomcardcontainer {
    width:800px;
    height:500px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
}
.randomcardcontainer .randomcard {
    width:300px;
    height:120px;
    border:1px solid #3f44a9;
    border-radius:10px;
    margin-bottom:25px;
    margin-left:25px;
    margin-right:25px;
    margin-top:40px;
    background: rgb(157,191,219);
    background: radial-gradient(circle, rgba(157,191,219,1) 0%, rgba(101,153,203,1) 100%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    overflow:auto;
    overflow-x:hidden;
    overflow-y:hidden;
    position: relative;
    cursor:pointer;
    transition: all .5s;
    overflow:auto;
}
.randomcard::-webkit-scrollbar {
    display: none;
  }
.randomcard .thumbnail {
    height:42px;
    width:42px;
}
.randomcardcontainer .randomcard:hover {
    transform: scale(1.1);
}
.error h1{
    color:red;
    font-size:2rem;
    transition: 1s all;
}
.randomcard .title {
    display:flex;
    justify-content: center;
    padding:auto;
    margin-top:15px;
    color:white;
    font-size:1.2rem;
    font-weight:600;
}
.randomcard .difficulty {
    color:#3f44a9;
    font-size:1.2rem;
    font-weight:600;
    display: flex;
    justify-content: center;
    margin:0;
    margin-right:100px;
    
}
.randomcard .topcard {
    display: flex;
    flex-direction: row;
    overflow:hidden;
}
.randomcard .thumbnail {
    margin:10px;
    border:1px solid black;

}
.difficultyinputs {
    display:flex;
    flex-direction: column;
    width:175px;
    height:300px;
    margin-top:25px;
    margin-bottom: 25px;
}
.difficultyinputs label {
    font-size:1.2rem;
    color:#2a2d34;
    font-weight:500;
}
.difficultyinputs .mininput {
    height:30px;
    font-size:1rem;
    margin-bottom:25px;
}
.difficultyinputs .maxinput {
    height:30px;
    font-size:1rem;
}
.submitbutton {
    position: relative;
    width:180px;
    height:80px;
    background: rgb(63,68,169);
    border:none;
    border-radius:25px;
    cursor: pointer;
    opacity: 0.8;
    color:#fff;
    font-size:1.5rem;
    line-height:1.5rem;
    text-align: center;
    transition: all 0.5s;
    padding:15px;
    margin-bottom:50px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.submitbutton:hover {
    opacity: 1;
}
@media (max-width:1500px) {
    .songpickertextcontainer p {
        font-size: 1.2rem;
        line-height: 1.3rem;
    }
}