.songpickercontainer {
    width:85%;
    height:inherit;
    border:1px solid brown;
    margin:0 auto;
    
}
.songpickertextcontainer {
    border:1px solid black;
    width:25%;
    height:500px;
    display:flex;
    flex-direction: column;
    padding:2rem 2.5rem;
    color:#2a2d34;
}
.songpickertextcontainer h1 {
    font-size:4rem;
    margin-bottom:0;
}
.songpickertextcontainer p {
    font-size:1.5rem;
    line-height:1.7rem;
}